body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main{
    position: relative;
    top: 64px;
}



#background{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222625;
    justify-content: center;
    align-items: center;


}
#container{
    height: fit-content;
    width:  700px;
    background-color: #fffafa;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#content{
    margin: 4vh;
}
.movie{
    width:  60vh;
    height: fit-content;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style:  solid;
    border-color: #040926;
    border-width: 1vh;
    padding: 2vh 2vh;
    background-color: aliceblue;
}
.movie i{
   padding-left: 25vh;
   color: green;

}
.movie img{
    width: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
   border-style:  solid;
   border-width: 3px;
   
}
.slides{
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 20px;
 

}

.filme{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
    
}
.filme a{
    margin: 3px
}
.filme img{
    height: 500px;
    width: 400px;
}
.geral-button{

    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #050b2c;
    padding: 8px;
    color: #BF8B4B;

}

footer{
    height: 40px;
    background-color: #040926;
    color: #DAA520;
    text-align: center;
    align-items: center;
}